@font-face {
 font-family: "Georgia Pro Light";
 src: url("http://wac.6a25.edgecastcdn.net/006A25/webtype/ff/3/6fea8d96-8b13-451e-9fff-12c56705d170") format("woff");
 font-style: normal;
 font-weight: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

h1 {
    font-family: 'geometria_lightlight';
    font-weight: normal;
    margin-top: 40px;
}

/* "pure" has font-family rules; override them */
.pure-g [class *="pure-u"] {
    font-family: inherit;
}

.padding-left {
    padding-left: 20px;
}

.title {
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.dropcap {
    float: left;
    font-size: 1.2em;
    line-height: 1.2em;
    padding-right: 5px;
    padding-left: 3px;
}

.blog {
    font-family: 'Georiga', serif;
}

.code {
    font-family: 'Courier', monospace;
}

.contact {
    font-family: 'Arial', sans-serif;
}

#layout {
    height: 100%;
}

#banner {
    box-shadow: 2px 2px 3px #aaaaaa;
}

#banner p {
    font-family: 'geometria_lightlight';
}

#text_div {
    font-size: 1.75em;
    z-index: 1;  /* otherwise overflow text goes beneath background image */
    white-space: nowrap;
    position: relative;
}

#absolute_icon_div {
    position: absolute;
    top: 8em;
    left: 1em;
    text-align: center;
}

#absolute_icon_div a {
    color: inherit;
    text-decoration: inherit;
}


#background_div {
    background-image: url('../image/headshot-gradient-xsmall.jpg');
    background-repeat: no-repeat;
    background-position: right;
    height: 300px;
}

@media (min-width: 568px) {
    #background_div {
        background-image: url('../image/headshot-gradient-small.jpg');
        height: 450px;
    }
}

@media (min-width: 768px) {
    #background_div {
        background-image: url('../image/headshot-gradient-medium.jpg');
        height: 650px;
    }
}

#main p, #main li {
    font-family: 'Georgia Pro Light', 'Georgia' serif;
    font-size: 1.25em;
    line-height: 1.25em;
    padding: 0 10px;
}

#main p a {
    text-decoration: underline;
}
